/* Rank 4 Elements */
p {
  color: red;
  /* color: red !important; */
}

/* Rank 3 Classes*/

.pink {
  color: pink;
}

/* Rank 2 ID */
#orange {
  color: orange;
}

/* Rank1 Inline styles */

/* How to avoid specificity */
/* 1. Child and descendant selectors */
.post > h1 {
  /* styles here */
}
.post > p {
  /* styles here */
}
.post > a {
  /* styles here */
}

/* 2.  Adding descriptive classes on parent and child tags*/
.post {
  /* styles here */
}

.post > .title {
  /* styles here */
}
.post > .text {
  /* styles here */
}
.post > .link {
  /* styles here */
}

/* 3. parent name child name */
.post {
  /* styles here */
}

.post-title {
  /* styles here */
}
.post-text {
  /* styles here */
}
.post-link {
  /* styles here */
}
