/* DRY Principle */

:root {
  --primary-color: green;
}

.section {
  border: 2px solid var(--primary-color, orange);
}

.section-title {
  color: var(--primary-color, orange);
  --primary-color: pink;
}
