img {
  display: block;
  max-width: 100%;
  height: auto;
}

.post {
  padding: 20px;

  max-width: 400px;
  background-color: #fff;
  /* border: 2px dashed #2a2a2a; */
}

.post-thumb {
  margin-bottom: 30px;
  /* border: 2px dashed tomato; */
}

.post-heading {
  /* border: 2px dashed teal; */
}

/* Inline Elements */
.link {
  background-color: tomato;
  color: white;

  /* ✅It works */
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 50px;
  margin-left: 50px;

  /* ❌ No effect  */
  width: 1000px;
  height: 1000px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.link-inline-block {
  display: inline-block;
  width: 250px;
  background-color: green;
}
