/* 1. Text Color and Background Color*/

.text {
  color: tomato;
  background-color: black;
}

/* 1. color name */
.color-name {
  color: blue;
}

/* 2. rgb */
.rgb {
  color: rgb(255, 0, 0);
}

/* 3. hexadecimal */
.hexadecimal {
  color: #000000;
  color: #ffffff;
  color: #ff0000;
  color: #00ff00;
  color: #0000ff;
}

/* 4. rgba */
/* .rgba {
  color: rgba(255, 0, 0, 0.493);
} */

.rgba {
  color: #ff0000;
}
