/* LEC 1 */
header {
  background-color: #f0f0f0;
  padding: 20px;

  /* 1. position static */
  /* position: static; */

  /* 2. positioned elements */
  /* a. position:relative */
  /* position: relative;
  top: 30px;
  left: 30px; */

  /* b. position:absolute*/
  /* position: absolute;
  top: 30px;
  left: 30px; */

  /* c. position:fixed */
  position: fixed;
  top: 30px;
  left: 30px;
}

nav {
  background-color: #e0e0e0;
  padding: 10px;

  /* d. position: sticky */
  /* position: sticky;
  top: 0; */
}

main {
  padding: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
}

/* LEC 2 */
.box1 {
  width: 100px;
  height: 100px;
  background-color: red;

  position: relative;

  /* Using margin:150px will shift the neigboring element */
  /* margin: 150px; */

  /* Using top:150px can overlap the neighboring element*/
  top: 150px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}

/* lec 3 */
.parent {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: lightblue;
}

/* Styling the absolutely positioned child element */
.child {
  /* this element will start counting down from it's RELATIVE parent */
  position: absolute;

  width: 100px;
  height: 100px;
  background-color: coral;
  top: 50px;
}
