/* CSS Variables */
:root {
  --primary-text-color: #555555;
  --primary-white-color: #ffffff;
  --primary-orange-color: #ff6c00;
  --primary-black-color: #303030;
  --primary-gray-color: #9da4bd;
  --toptext-gray-color: rgba(157, 164, 189, 0.6);
  --primary-background-color: rgba(25, 28, 38, 0.2);
  --secondary-background-color: #f7f7f7;
}

/* CSS RESET */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* END OF CSS RESET */

body {
  font-family: "Open Sans", sans-serif;
}

/* General Styles */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* remove bullet points in lists */
.list {
  list-style: none;
}

/* remove underline in links */
.link {
  text-decoration: none;
}

/* top text */
.top-text {
  margin-bottom: 20px;

  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 20px;
}

.top-text::before {
  /* without content, it will not be created*/
  content: "";
  width: 60px;
  height: 1px;
  /* The currentColor value is a special keyword in CSS that refers to the value of the color property of an element. It allows you to dynamically apply the same color used in the color property to other properties such as background-color, border-color, or fill */
  /* background-color: currentColor; */
  background-color: currentColor;
}
.bottom-text {
  margin-bottom: 20px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.section-title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

/* 1. button - doesn't automatically inherit font-family*/
.button {
  border: 1px solid var(--primary-orange-color);
  border-radius: 25px;
  padding: 5px 10px;

  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;

  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-orange-color);
}

/* END OF GENERAL STYLES */

/* HEADER SECTION */
.header {
  padding-top: 32px;
  width: 100%;
  position: absolute;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item {
}

.header-link {
  color: var(--primary-white-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--primary-orange-color);
}

.current {
  position: relative;
  color: var(--primary-orange-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border: 2px solid var(--primary-orange-color);
  background-color: var(--primary-orange-color);
}

.header-address {
  margin-left: auto;
  color: var(--primary-white-color);
}

.header-address-link {
  /* 2. a tags doesn't inherit font-color */
  color: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--primary-orange-color);
}

.header-button {
  margin-left: 40px;
  margin-right: 40px;

  color: var(--primary-white-color);
}

/* HERO SECTION */
.hero {
  /* background-image: url(../images/hero-bg.jpg),
    linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  background-repeat: no-repeat;
  background-position: right;
  background-size: 72% 100%; */
}

.hero-container {
  display: flex;
}

.hero-socials {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--primary-black-color);
}

.hero-item {
}

.hero-link {
  color: var(--primary-black-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--primary-orange-color);
}

.hero-wrap {
  flex-grow: 1;
  padding: 272px 100px 208px;

  background-image: url(../images/hero-bg.jpg),
    linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-top-text {
  color: var(--toptext-gray-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}

.hero-bottom-text {
  color: var(--primary-gray-color);
}

/* ABOUT SECTION */

.about {
  background-color: var(--primary-white-color);
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
}

.about-wrap {
  padding-right: 100px;
}

.about-item {
}

.about-top-text {
  color: var(--primary-black-color);
}

.about-title {
  color: var(--primary-black-color);
}

.about-bottom-text {
  color: var(--primary-text-color);
}

.about-text {
  color: var(--primary-black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.28px;
  margin-bottom: 20px;
}

.about-button {
  color: var(--primary-black-color);
}

/* SERVICES AND PRICES SECTION */

.prices {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../images/prices-bg.png),
    linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prices-top-text {
  color: var(--toptext-gray-color);
}

.prices-title {
  color: var(--primary-white-color);
}

.prices-wrap {
  display: flex;
  margin-bottom: 40px;
}

.prices-list {
  padding: 30px 20px;
  /* 100% = full width; 30px = spacing ; /2 = means it will be half */
  width: calc((100% - 30px) / 2);
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 12px;
}

.prices-item::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  color: var(--primary-gray-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.prices-item-text:last-child {
  /* it will be displayed after any elements with a lower order value */
  order: 1;
}

.prices-button {
  display: block;
  margin: 0 auto;
  color: var(--primary-white-color);
}

/* ------- WHY-US/ BENEFITS SECTION ------ */
.benefits {
  background-color: var(--primary-white-color);
}

.benefits-container {
  display: flex;
  padding-left: 85px;
  gap: 130px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: var(--secondary-background-color);

  /* box-shadow: m<x-offset> m<y-offset> <blur> <spread> <color> */
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item-count {
  display: block;
  text-align: center;
  color: var(--primary-black-color);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.benefits-item-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  vertical-align: top;
  color: var(--primary-orange-color);
}

.benefits-item-text {
  color: var(--primary-black-color);
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.benefit-top-text {
  color: var(--primary-black-color);
}

.benefits-title {
  color: var(--primary-black-color);
}

.benefits-bottom-text {
  color: var(--primary-text-color);
}

/*  BARBERS SECTION */

.barbers {
  background-color: var(--secondary-background-color);
}

.barbers-top-text {
  color: var(--primary-black-color);
}

.barbers-title {
  color: var(--primary-black-color);
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc(100% - 60px / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.barbers-item:hover,
.barbers-item:focus {
  /* box-shadow: m<x-offset> m<y-offset> <blur> <spread> <color> */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.barbers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  color: var(--primary-white-color);
  background-color: var(--primary-orange-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.barbers-item:hover .barbers-cover-text {
  transform: translateY(0);
}

.barbers-item-title {
  margin-top: 30px;
  margin-bottom: 8px;
  color: var(--primary-black-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.barbers-item-text {
  margin-bottom: 30px;
  color: var(--primary-orange-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.barbers-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.barbers-social-item {
  width: 44px;
  height: 44px;
}

.barbers-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary-black-color);
  background-color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.barbers-social-icon {
  fill: currentColor;
}

.barbers-social-link:hover,
.barbers-social-link:focus {
  background-color: var(--primary-orange-color);
}

/* PORTFOLIO SECTION  */

.portfolio {
  background-color: var(--primary-white-color);
}

.portfolio-top-text {
  color: var(--primary-black-color);
}

.portfolio-list {
  display: flex;
}

.portfolio-item {
  width: calc(100% - 90px / 4);
}

/* CONTACTS WRAP */
.contacts-wrap {
  margin: 0 auto;
  max-width: 1600px;
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px) 100%;
  background-position: right;
}

.contacts-wrap-container {
  display: flex;
  justify-content: space-between;
}

/* ---------- BOOKING SECTION ---------- */

.booking {
  background-color: #191c26;
  width: calc(50% - 15px);
}

.booking-title {
  color: var(--primary-white-color);
}

/* --------- CONTACTS SECTION --------- */
.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--primary-white-color);
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-list {
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-item:last-child {
  margin-bottom: 0;
  text-decoration: underline;
  /* text-underline-offset: 25px; */
  color: var(--primary-gray-color);
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--primary-gray-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.contacts-icon {
  fill: none;
  stroke: currentColor;
}

.contacts-top-text {
  color: var(--primary-white-color);
}

.contacts-bottom-text {
  color: var(--primary-gray-color);
}

/* TEST SECTION */
.test-list {
  display: flex;
  gap: 30px;
}

.test-item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.test-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #8e8f99;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.test-icon {
  width: 100px;
  height: 60px;
  fill: currentColor;
}

.test-link:hover,
.test-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* ------------- FOOTER ------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  color: var(--primary-gray-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.footer-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--primary-black-color);
}

.footer-item {
}

.footer-link {
  color: var(--primary-black-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  color: var(--primary-orange-color);
}

/* MODAL  WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 584px;
  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--primary-black-color);
  margin-bottom: 30px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: var(--primary-white-color);
  color: var(--primary-black-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--primary-orange-color);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

/* Modal Form */

.form-field {
  display: block;
  position: relative;
}

.form-label {
  position: absolute;
  top: -16px;
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.form-input,
.form-textarea {
  /* display:block -> for icon positioning */
  display: block;
  width: 100%;
  /* margin: 0 0 29px 0; */
  margin-bottom: 29px;
  padding: 11px 16px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  /* line-height: 0.87px -> this was the error on live lecture = it should be without px, line-height:0.87; and we will not set the height on .form-textarea */
  line-height: 0.87;
  letter-spacing: 0.01em;
  color: var(--primary-black-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  padding-left: 16px;
  resize: none;
}

.form-input:hover,
.form-textarea:hover,
.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--primary-orange-color);
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
}

.form-terms {
}

.button-center {
  display: block;
  margin: auto;
}
